.hi {
  height: 500px;
  width: 500px;
  background-color: brown;
  position: absolute;
}
.hi:hover {
  transform: rotate(120deg);
  transition-delay: 0.1s;
}
.bye {
  height: 400px;
  width: 400px;
  background-color: blue;
  margin-right: 400px;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}
.bye:hover {
  transform: rotate(120deg);
  transition-delay: 0.1s;
}
.two:hover {
  transform: rotate(120deg);
  transition-delay: 0.1s;
}
.one {
  height: 300px;
  width: 300px;
  background-color: chartreuse;
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}
.one:hover {
  transform: rotate(120deg);

  transition-delay: 0.1s;
}
.two {
  height: 200px;
  width: 200px;
  background-color: chocolate;
  position: absolute;
  margin-top: 150px;
  margin-left: 150px;
}
.two:hover {
  transform: rotate(120deg);
  transition-delay: 0.1s;
}
.main {
  display: flex;
}
